body {
  font-family: 'Fira Sans', sans-serif;
  padding: 25px;
}

ul {
  list-style-type: none;
}

/* .salary-list {
  opacity: 0;
} */

.header {
  font-size: 40px;
  background-color: blue;
  padding: 20px 0;
  margin-bottom: 30px;
}
