body {
  font-family: 'Fira Sans', sans-serif;
  padding: 25px;
  background-color: #ddf4fc;
}

ul {
  list-style-type: none;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #f0e6ff;
  margin: 25px;
  padding: 10px;
}

.header {
  font-size: 40px;
  color: #6f81f6;
  background-color: #02eeab;
  padding: 20px 0;
  margin-bottom: 30px;
}

div > button {
  margin: 10px;
  border-radius: 10px;
  padding: 15px
}
